<div id="<%= dom_id student %>">
  <p>
    <strong>First Name:</strong>
    <%= student.first_name %>
  </p>

  <p>
    <strong>Last Name:</strong>
    <%= student.last_name %>
    </p>

  <p>
    <strong>School Email:</strong>
    <%= student.school_email %>
    </p>

  <p>
    <strong>Major:</strong>
    <%= student.major %>
  </p>

  <p>
    <strong>Graduation Date:</strong>
    <%= student.graduation_date %>
  </p>
</div>
