<tr>
  <th scope="row"></th>
  <td><%= student.first_name %></td>
  <td><%= student.last_name %></td>
  <td><%= student.major %></td>
  <td><%= student.graduation_date %></td>
  <td>
    <a class="btn btn-primary" <%= link_to "Show", student %></a>
    <%# Non functional on purpose %>
    <a class="btn btn-secondary" >Edit</a>
    <a class="btn btn-danger" >Danger</a>
  </td>
</tr>