<p style="color: green"><%= notice %></p>

<%= render @student %>

<p>
  <strong>Profile Picture:</strong>
  <% if @student.profile_picture.attached? %>
    <%= image_tag @student.profile_picture, size: "300x300" %>
  <% else %>
    <%= image_tag 'default_profile.jpg', size: "300x300" %>
  <% end %>
 </p>

<div>
  <%= link_to "Edit this student", edit_student_path(@student) %> |
  <%= link_to "Back to students", students_path %>

  <%= button_to "Destroy this student", @student, method: :delete %>
</div>
